/*** Reseteo de Propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}

/************ LAYOUT  *************/
/************************ display/position/float **********************/
nav li{
    display: inline-block;
}
nav article{
    position:relative
}
#Portada{
    background-image: url(images/Portada.jpg);
    object-fit: cover;
}
#Opiniones article{
    display: inline-block;
}
.cat {
    display: inline-block;
}
#Destacados article{
    display: inline-block;
}
footer article{
    display: inline-block;
}



/****************** height/width/padding/border/margin *******************/

body {
    border: red solid 2px;
}
nav {
    border: blue solid 2px;
}
header {
    border: orange solid 2px;
}
#Portada{
    margin: 2%;
    height: 500px;
    border: darkgreen solid 2px;
}
#Quienes_somos{
    border: lightcoral solid 2px;
}
#Opiniones article{
    width: 33%;
    border: lightskyblue solid 2px;
}
#Categorias{
    border: purple solid 2px;
    height: 600px;
}
#CabeceraCat{
    border: darkcyan solid 2px;
    height: 320px;
}
.cat{
    width: 22%;
    margin: auto;
    border: brown solid 2px;
}
#Destacados{
    border: lightsalmon solid 2px;
}
#Destacados article{
    width: 24%;
    border: pink solid 2px;
}
footer{
    border: green solid 2px;
}
footer article{
    width: 24%;
    border: purple solid 2px;
}


/************************* Propiedades Generales *********************/
a{  /*a:link, a:visited, a:active*/
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Reclame Script,Helvetica,Verdana;
    font-style:italic;
    font-weight:bold;
  }
nav ul{ /* Solo para el NAV, dejamos los demas con el punto*/
    list-style-type: none;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    object-fit:cover; /* En el caso de poner altura a una imagen hace que se escale */
}


/********* BODY *********/
body {
    font-family:Sarabun,sans-serif;
}


/********* NAV **********/
nav{
    text-align: right;
}  


/*** HEADER ***/
header {
    background-color: #B0D217;
}



/*** SECTION ***/
section #Portada {
    background-image: url(images/Portada.jpg);
}
#Quienes_somos{
    background-color: #B0D217;
}
#cat1{
    background-color: #555555;
}
#cat2{
    background-color: #B0D217;
}
#cat3{
    background-color: #E8C3AC;
}
#cat4{
    background-color: #E3F0A9;
}
/******** FOOTER *********/
footer {
    background-color: #B0D217;
}

