/*** Reseteo de Propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*** Esto es para que si hay padding y border se incluya dentro del calculo (no se salga si pongo el % ajustado sin tener que tener en cuenta bordes)***/
}


/************ LAYOUT  *************/
/************************ display/position/float **********************/
nav li{
    display: inline-block;
}

main{
    float: right;
}

aside, main {  /*Propiedades comunes a ASIDE y SECTION Principal*/
    display: inline-block;
}

.art{
    display: inline-block;
}

footer{
    clear: both;
}

/****************** height/width/padding/border/margin *******************/
body{
    margin: 2em 15%;
}

nav{
    margin: 1% 0;
}
nav li{
    padding: 1.6%;
}

header{
    margin: 1% 0;
    padding: 3%;
}
header h3{
    margin-bottom: 2%;
}

aside{
    width: 24%;
    margin: 1% 0;
}
aside section{
    padding: 2%;
    margin-bottom: 2%;
}

main{
    width: 75%;
    margin: 1% 0;
}
.art{
    width: 30%;
    margin: 2%;
}




/************************* Propiedades Generales *********************/
a{  /*a:link, a:visited, a:active*/
    text-decoration: none;
    color: #1f4677;
    font-weight: bold;
}
h1{
    color: white;
}
h4, h5{
    background-color: #ade4ea;
}
nav, header, aside, section, article, footer, h5, h4{
    border-radius: 0.5em;
}

/********* BODY *********/
body{
    border: #1f4677 solid 2px;
    background-color: #ff7b2d;
    font-family: Calibri, Tahoma, Verdana, Helvetica, sans-serif;
}


/********* NAV **********/
nav{
    border: grey solid 2px;
    background-color: #2e2e2e;    
}
nav li a{
    text-decoration: none;
    color: #ade4ea;
    font-weight: bold;
}


/*** HEADER ***/
header{
    border: orange solid 2px;
    background: linear-gradient(to bottom, #b7deed, #2bb8e5, #b7deed); 
}
header h3{
    font-weight: 100;
}
header p{
    color: #555752;
}


/******** CAJA CENTRAL *********/  /*Engloba ASIDE Y SECTION principal*/
.art{
    border: #00a0bc solid 1em;
}

article{
    border: pink solid 2px;
    background-color: white;
}


/*** ASIDE ***/
aside{
    border: green solid 2px;
}
aside section ul{
    text-decoration: underline #00a0bc;
}


/*** SECTION ***/
section{
    border: red solid 2px;
    background-color: white;
}


/******** FOOTER *********/
footer{
    background-color: #2e2e2e;
}

